<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">-->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
</head>
<body>
<include th:insert="fragment/header.html"></include>


<div class="row gx-5">
    <div class="col-1">
    </div>
    <div class="col">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">Nick Name</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody th:each="user : ${users}">
            <tr>
                <th scope="row" th:text="${user.getId()}">Id</th>
                <td th:text="${user.getUsername()}">Email</td>
                <td th:text="${user.getNickname()}">Nick Name</td>
                <td th:text="${user.getName()}">Name</td>
                <td class="col-1">
                    <form id="delete_form" method="post" th:action="@{/user/admin/list/delete}">
                        <input name="_method" type="hidden" value="delete"/>
                        <input name="userId" th:value="${user.getId()}" type="hidden"/>
                        <button class="btn btn-danger" onclick="if(!confirm('해당 유저를 삭제하시겠습니까?')){return false;}"
                                type="submit">Delete
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-1">
    </div>

</div>


<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
</body>
<include th:insert="fragment/footer.html"></include>
</html>
