
    <footer th:fragment="footer">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
         <link rel="stylesheet" type="text/css" th:href="@{/css.lib/footer.css}"/>
        <link rel="stylesheet" href="/src/main/resources/static/css.lib/footer.css"/>
        <div class="container">
            <div class="title-logo">
                <h1><span class="highlight">J</span>ungle <span class="highlight">B</span>ook</h1>
                <p>Our Jungle Book Project!</p>
                <div class="search">
                    <input type="text" placeholder="Search" />
                    <i class="bi bi-search" id="search"></i>
                </div>
            </div>
            <div class="footer-menu">
                <!--page information-->
                <div class="footer-logo">
                    <img src="/logo/Jungle Book-footer.png" class="footer-logo" />
                </div>
                <!--team member info-->
                <div class="Contact">
                    <h3>Contact Us</h3>
                    <ul>
                        <li class="member"><a href="https://github.com/kys-97">김연수 97yeonsoo@gmail.com</a></li>
                        <li class="member"><a href="https://github.com/miyaey">양미예 gjm0403@naver.com</a></li>
                        <li class="member"><a href="https://github.com/Dawnnote">이상훈 lshoon7454@gmail.com</a></li>
                        <li class="member"><a href="https://github.com/kimgeen/kimgeen">김근영 boy25860@gmail.com</a></li>
                        <li class="member"><a href="https://github.com/burncommit">안국범 burncommit@naver.com</a></li>
                    </ul>
                </div>
                <!--page information-->
                <div class="information">
                    <h3>Information</h3>
                    <ul>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">About Us</a></li>
                    </ul>
                </div>
            </div>
            <!--copyright-->
            <div class="footer-right">
                ⓒ 2023 JungleBook site
                All Right Reserved
            </div>
        </div>
    </footer>
    </body>
    </html>