<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER INFORMATION UPDATE PAGE</title>
</head>
<body>
<div class="container">
    <h2 style="font-size: 16px;">회원 정보 수정</h2>
    <form th:object="${userRequest}" method="post" enctype="multipart/form-data">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <div class="form-group">
            <div class="mb-3">
                <!-- 파일 선택 input 태그 -->
                <label for="file" class="form-label">새로운 파일 선택</label>
                <input type="file" name="newFile" id="file" class="form-control"/>
                <input type="hidden" th:if="${postRequest.filename ne null}" th:field="*{filename}" th:value="${postRequest.filename}"/>
            </div>
            <label for="username" class="form-label">user account</label>
            <input type="text" th:field="*{username}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">password</label>
            <input type="password" th:field="*{password1}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">password 확인</label>
            <input type="password" th:field="*{password2}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">name</label>
            <input type="text" th:field="*{name}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">nickname</label>
            <input type="text" th:field="*{nickname}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">phone number</label>
            <input type="password" th:field="*{phone}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">address</label>
            <input type="password" th:field="*{address}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>

<!-- 부트스트랩 js, jquery 추가 -->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
</body>
</html>