
    /*nav bar*/
body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #f6fcf2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B0D69C;
    padding: 8px 12px;
    margin-bottom: 30px;
}

.nav-logo {
    font-size: 24px;
    color: #f6fcf2;
}

.nav-logo i {
    color: #506147;
}

.nav-user {
    display: flex;
    list-style: none;
    padding-left: 0;

}

.nav-user li {
    padding: 8px 12px;
}

#bell {
    color: #506147;
    font-size: 24px;
}

.nav-user li:hover {
    font-weight: bolder;
}

.nav-user li #bell:hover {
    color: #f6fcf2;
}


.navbar-btn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #506147;
}

/*select box*/
.option {
    /*width: 110px;*/
    height: 100%;
    border: 0px;
    float: left;
    position: relative;
    border-right: 1px solid #B0D69C;
    border: 0 none;
    outline: 0 none;
    padding: 0 5px;
    position: relative;
    z-index: 3;
}

/*header-box*/
.header-box {
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.search {
    height: 40px;
    width: 550px;
    border: 1px solid #B0D69C;
    background: #ffffff;
}

.search-input {
    font-size: 16px;
    /*width: 390px;*/
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}

.search-btn {
    width: 50px;
    height: 100%;
    border: 0px;
    background: #B0D69C;
    outline: none;
    float: right;
    color: #ffffff;
}


.icon-box {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.icon-box li {
    padding: 8px 12px;
}

.li-text {
    color: #B0D69C;
    font-size: 24px;
}

.icon-box li :hover {
    color: #506147;
}

/* 각각의 Flex 아이템 내부의 요소들을 가로로 정렬합니다. */
.icon-box li {
    margin-right: 10px;
    /* 아이콘 간 간격 조정을 위한 속성 */
}


@media screen and (max-width:768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .nav-user {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-user li {
        width: 100%;
        text-align: center;
    }

    .navbar-btn {
        display: block;
    }

    .nav-user.active {
        display: flex;
    }

    /*header box media query*/
    .header-box {
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
    }

    .icon-box {
        justify-content: flex-end;
    }

    .icon-box li {
        margin-right: 0;
        margin-left: 10px;
    }

    .logo {
        display: none;
    }
}
