<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>삽니다 - 게시글 수정</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"
          href="../../css/style.css"></link>
</head>
<body>
<include th:insert="fragment/header.html"></include>
<div class="container">
    <!--    <h1>게시글 작성</h1>-->
    <!--    <form action="/post/create/action" method="post">-->
    <h2 style="font-size: 16px;">게시물 수정하기</h2>
    <!--    생성 & 수정 구분 <input type="hidden"  -->
    <!--    <form th:action="@{/post/create}" th:object="${postRequest}" method="post">-->
    <form th:object="${buyBookPostRequest}" method="post">
        <input type="hidden"/>
        <!--        th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <div class="mb-3">
            <label class="form-label">상품명</label>
            <!--            <input type="text" class="form-control" id="" name="subject">-->
            <input type="text"  th:field="*{bookName}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">카테고리</label>
            <!--            <input type="text" class="form-control" id="" name="subject">-->
            <input type="text"  th:field="*{category}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">저자</label>
            <!--            <input type="text" class="form-control" id="" name="subject">-->
            <input type="text"  th:field="*{bookAuthor}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">출판사</label>
            <!--            <input type="text" class="form-control" id="" name="subject">-->
            <input type="text"  th:field="*{publisher}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">판매지역(도시)</label>
            <!--            <input type="text" class="form-control" id="" name="subject">-->
            <input type="text"  th:field="*{field}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">판매지역(읍/면/동)</label>
            <!--            <input type="text" class="form-control" id="" name="subject">-->
            <input type="text"  th:field="*{field2}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">가격</label>
            <!--            <input type="text" class="form-control" id="" name="subject">-->
            <input type="text"  th:field="*{price}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">상품 내용</label>
            <textarea th:field="*{content}" class="form-control" rows="5" cols="" name="content"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">거래 방법</label>
            <!--            <input type="text" class="form-control" id="" name="subject">-->
            <input type="text"  th:field="*{payment}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">거래 완료 여부</label>
            <!--            <input type="text" class="form-control" id="" name="subject">-->
            <input type="text"  th:field="*{completion}" class="form-control">
        </div>
        <input type="submit" value="상품등록" class="btn btn-primary my-2">
        <button type="button" class="btn btn-success" onclick="javascript:location.href='/buy_post/list'">목록으로</button>
        <!--        <button type="submit" class="btn btn-primary">등록</button>-->
    </form>
</div>
<include th:insert="fragment/footer.html"></include>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
</body>
</html>