<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>삽니다 - 게시글 보기</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
</head>
<body>
<include th:insert="fragment/header.html"></include>
<div class="container my-3" layout:fragment="content">
    <h2 class="border-bottom py-2" th:text="${post.bookName}"></h2>

    <div class="card my-3">
        <div class="card-body">

            <input id="postCategory" th:value="${post.category}" type="hidden"/>
            <input id="postPayment" th:value="${post.payment}" type="hidden"/>


            <div class="card-text" style="white-space: pre-line;">
                <div th:each="img : ${post.img}">
                    <img class="img-fluid" th:src="@{${img.filePath}}">
                </div>
                <span>카테고리 : </span><span th:text="${post.category}"></span>
                <span>저자 : </span><span th:text="${post.bookAuthor}"></span>
                <span>출판사 : </span><span th:text="${post.publisher}"></span>
                <span>구매 지역 : </span><span th:text="${post.field}"></span>
                <span>가격 : </span><span th:text="${post.price}"></span>
                <span>거래 방법 : </span><span th:text="${post.payment}"></span>
                <span>거래 상태 : </span><span th:text="${post.completion}"></span>
            </div>
            <br>

            <div class="card-text" style="white-space: pre-line;" th:text="${post.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start mx-3" th:if="${post.modifiedDate != null}">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(post.modifiedDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${post.author != null}" th:text="${post.author.nickname}"></span>
                    </div>
                    <div th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">


                <a class="btn btn-sm btn-outline-secondary" id="modifyPost"
                   sec:authorize="isAuthenticated()"
                   th:href="@{|/buy_post/update/${post.buyBookId}|}"
                   th:if="${post.author != null and #authentication.getPrincipal().getUsername() == post.author.username}"
                   th:text="수정"></a>
                <a class="delete btn btn-sm btn-outline-secondary" href="javascript:void(0);"
                   sec:authorize="isAuthenticated()" th:data-uri="@{|/buy_post/delete/${post.buyBookId}|}"
                   th:if="${post.author != null and #authentication.getPrincipal().getUsername() == post.author.username}"
                   th:text="삭제"></a>
                <!--                                <a th:href="@{|/post/update/${post.id}|}" class="btn btn-info ml-2">수정</a>-->
                <!--                                <a th:href="@{|/post/delete/${post.id}|}" class="btn btn-info ml-2">삭제</a>-->

            </div>
        </div>
    </div>


    <button class="btn btn-success" onclick="location.href='/buy_post/list'" type="button">목록으로</button>

    <!-- Button trigger modal -->
    <button class="btn btn-danger" data-target="#exampleModal" data-toggle="modal" type="button">
        신고
    </button>

    <!-- Modal -->
    <form th:action="@{/buy_post/detail/create}" th:object="${report}" method="post">
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog"
             tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">신고 유형</h2>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div th:each="type : ${reportTypes}" class="custom-control custom-radio">
                                        <input type="radio" th:field="*{reportType}" th:value="${type.name()}" class="custom-control-input">
                                        <label th:for="${#ids.prev('reportType')}" th:text="${type.description}" class="custom-control-label"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="bookId" th:value="${post.getBuyBookId()}"/>
                        <input type="hidden" name="userId" th:value="${post.getAuthor().getId()}"/>
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">취소</button>
                        <button class="btn btn-danger" type="submit">신고하기</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<include th:insert="fragment/footer.html"></include>

<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>