<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>책 삽니다</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style>
        #high{
            display:flex;
            justify-content: space-between;
            width: 100%;
        }

    </style>
</head>
<body>

<div class="container">
    <div id="high" >
        <h5 class="my-3 border-bottom pb-2" style="display:inline">팔고 싶은 책 등록</h5>
        <button type="button" class="btn btn-primary my-2" onclick="javascript:location.href='/buy_post/create'">사고 싶은 책 등록하러가기</button>
    </div>
    <form th:object="${buyBookPostRequest}" method="post" enctype="multipart/form-data">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <div class="mb-3" style="display:none;">
            <label  class="form-label">삽니다/팝니다</label>
            <label><input type="radio" name="purpose" value="buy" > 삽니다</label>
            <label><input type="radio" name="purpose" value="sell" checked> 팝니다</label>
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">책이름</label>
            <input type="text" th:field="*{bookName}" class="form-control" >
        </div>
        <div class="mb-3">
            <label  class="form-label">카테고리</label> <br>
            <label><input type="radio" name="category" value="NOVEL_POEM"> 소설, 시</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <label><input type="radio" name="category" value="SELF_HELP"> 자기 계발</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <label><input type="radio" name="category" value="HUMANITIES" > 인문, 교양</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <label><input type="radio" name="category" value="BUSINESS_MONEY"> 경제, 경영</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <label><input type="radio" name="category" value="EDUCATION" > 학습</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <label><input type="radio" name="category" value="CHILDREN"> 어린이</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <label><input type="radio" name="category" value="COMICS" > 만화</label>

        </div>
        <div class="mb-3">
            <label  class="form-label">저자</label>
            <input type="text" th:field="*{bookAuthor}" class="form-control">
        </div>
        <div class="mb-3">
            <label  class="form-label">출판사</label>
            <input type="text" th:field="*{publisher}" class="form-control">
        </div>



        <!--        <label className="inputFileCustom" for="realPostBtn">-->
        <!--            <div id="div-selectFile">우편번호 찾기</div>-->
        <!--        </label>-->

        <div class="mb-3" >
            <label  class="form-label">판매 지역</label> <br>
            <input type="text" id="sample4_postcode" placeholder="우편번호">
            <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" id="realPostBtn"><br>
            <input type="text" id="sample4_roadAddress" name="field" placeholder="도로명주소">
            <input type="text" id="sample4_jibunAddress" placeholder="지번주소">
            <span id="guide" style="color:#999;display:none"></span>
            <input type="text" id="sample4_detailAddress" placeholder="상세주소"style="display:none;">
            <input type="text" id="sample4_extraAddress" placeholder="참고항목" style="display:none;">
        </div>







        <div class="mb-3">
            <label  class="form-label">판매 가격</label>
            <input type="text" th:field="*{price}" class="form-control">
        </div>
        <div class="mb-3">
            <label  class="form-label">거래 방법</label>
            <label><input type="radio" name="payment" value="direct"> 직거래</label>
            <label><input type="radio" name="payment" value="parcel"> 택배거래</label>
        </div>
        <div class="mb-3"  style="display:none;">
            <label  class="form-label" >거래 상태</label>
            <label><input type="radio" name="completion" value="completed"> 거래 완료</label>
            <label><input type="radio" name="completion" value="trading" checked> 거래 중</label>
        </div>














        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>

            <input type="file" name="files" multiple="multiple" onchange="test(this.files)">
            <div id="file-list">
            </div>
            <!--            input 태그의 multiple="multiple" 은 원래 type="file"의 input은 기본적으로 하나의 파일만 선택 가능한데 -->
            <!--            위의 속성을 적용해주면 여러 개의 파일을 선택할 수 있도록 해준다.-->


        </div>

        <div>


        </div>



        <input type="submit" value="저장하기" class="btn btn-primary my-2">
        <button type="button" class="btn btn-success" onclick="javascript:location.href='/'">목록으로</button>
    </form>
</div>

<!-- 부트스트랩 js, jquery 추가 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    let selectedFiles = [];

        function test(files) {

            const fileList = document.getElementById('file-list');
            for(let i=0; i<files.length; i++) {
                selectedFiles.push(files[i]);
                const item = document.createElement('div');
                const fileName = document.createTextNode(files[i].name);
                const deleteButton = document.createElement('button');
                deleteButton.addEventListener('click', (event) => {
                    item.remove();
                    event.preventDefault();
                    deleteFile(files[i]);
                });
                deleteButton.innerText="X";
                item.appendChild(fileName);
                item.appendChild(deleteButton);
                fileList.appendChild(item);
            }
        }
     function deleteFile(deleteFile) {
            const inputFile = document.querySelector('input[name="files"]');
            const dataTransfer = new DataTransfer();
            selectedFiles = selectedFiles.filter(file => file!==deleteFile);
            selectedFiles.forEach(file => {
                dataTransfer.items.add(file);
            })
            inputFile.files = dataTransfer.files;
        }


    //지명주소 오픈 api 시작
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>



</script>

</body>